.ribbon {
  background-color: #121621;
  top: 3.2em;
  left: -3.7em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: rgba(255, 255, 255, 0.90);
  display: block;
  padding: .6em 3.5em;
  position: absolute;
  font: bold .82em "Open Sans";
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease-out;
  outline: none;
}

.ribbon.highlighted {
  background-color: #b2e200;
}