body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  height: 100vh;
  width: 100vw;
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #477c59 0%, #204237 80%);
  background-image: -moz-radial-gradient(top, circle cover, #477c59 0%, #204237 80%);
  background-image: -o-radial-gradient(top, circle cover, #477c59 0%, #204237 80%);
  background-image: radial-gradient(top, circle cover, #477c59 0%, #204237 80%);
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding: 30px;
}

.file-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

file-button {
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;
  margin: 5px;
  user-select: none;
}

file-button:hover .text {
  opacity: 1;
}

file-button .text {
  display: block;
  position: absolute;
  white-space: nowrap;
  top: 100%;
  text-align: center;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

file-button i {
  padding: 0 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

file-button input[type="file"] {
  position: absolute;
  display: block;
  -webkit-appearance: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

file-button.disabled {
  color: #adadad;
  cursor: not-allowed;
}

file-button.disabled i {
  cursor: not-allowed;
}

file-button.disabled input[type="file"] {
  display: none;
}